
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --primary-color-red: #B00000;

    --primeira-color-text: #2E2E2E;
    --segunda-color-text: #808080;
    --terceira-color-text: #18191F;
    --quarta-color-text: #D6D4D4; 


    --black-color: #000;
    --branco-color: #fff;

    --bg-button-color-2: #FFE87A;

}

body {
    font-family: 'Poppins', sans-serif;
}